@import '../../node_modules/@angular/material/_theming';

@include mat-core();

$purple-green-primary: mat-palette($mat-purple, 700, 500, 800);
$purple-green-accent:  mat-palette($mat-green, A200, A100, A400);

$purple-green-theme: mat-dark-theme($purple-green-primary, $purple-green-accent);