.data-table {
  overflow-y: auto;
  height: 69vh;
}

.mat-header-row {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: inherit;
}

#column-selection {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 25px 0 25px 0;
}
