<div id="home-view">
  <mat-card class="dashboard-card">
    <sorting style="width: 10vw;" [data]="matTableDataSource.data" [sortingKeys]="sortingKeys"
             [selectedSortingKeys]="selectedSortingKeys" (returnData)="this.handleReturnedSortedData($event)">
    </sorting>
    <mat-table #table [dataSource]="matTableDataSource" matSort class="data-table">
      <ng-container matColumnDef="First Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header >First Name</mat-header-cell>
        <mat-cell *matCellDef="let row" >{{row.firstName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Last Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header >Last Name</mat-header-cell>
        <mat-cell *matCellDef="let row" >{{row.lastName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Age">
        <mat-header-cell *matHeaderCellDef mat-sort-header >Age</mat-header-cell>
        <mat-cell *matCellDef="let row" >{{row.age}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Address">
        <mat-header-cell *matHeaderCellDef mat-sort-header >Address</mat-header-cell>
        <mat-cell *matCellDef="let row" >{{row.address}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Phone Number">
        <mat-header-cell *matHeaderCellDef mat-sort-header >Phone Number</mat-header-cell>
        <mat-cell *matCellDef="let row" >{{row.phone}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayColumns;" style="cursor: pointer"></mat-row>
    </mat-table>
    <div id="column-selection">
      <mat-checkbox [(ngModel)]="optionalDisplayColumn.enabled" (change)="updateColumns()"
                    *ngFor="let optionalDisplayColumn of optionalDisplayColumns">
        {{optionalDisplayColumn.display}}
      </mat-checkbox>
    </div>
  </mat-card>
</div>
